In [1]:
from os import listdir
from os.path import isfile, join, exists
import pandas as pd
import io
import numpy as np
import re
import xlrd
from datetime import datetime

In [2]:
def pandas2tsv(df,path):
    base_path = "D:/Users/ldavid/Documents/Stock Combustible"
    sep = ','
    index = False
    header = True
    encoding = 'utf-8-sig'
    df.to_csv(base_path+path,
              index=index,
              sep=sep,
              header=header,
              encoding=encoding
              )
def get_fecha2(year,month):
    for i in range(len(list_of_months)):
        if i<9 and month==list_of_months[i]:
            fecha='01-'+ '0' + str(i+1) + '-' + year
            
        elif i>8 and month==list_of_months[i]:
            fecha='01-' + str(i+1) + '-' + year
                 
    return fecha

In [68]:
df = pd.read_excel('D:/Users/ldavid/Documents/Stock Combustible/Pendrives con data stock/Control de Stock/2004'+"/"+'resumen control stock 2004.xls',sheet_name='julio')

In [69]:
df

,Control Stock Informado MES DE,Unnamed: 1,JULIO,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Electroandina,NaN,Edelnor,NaN,Norgener,NaN,Celta
2,NaN,NaN,Carbón,Petcoke,Carbón,Petcoke,Carbón,Petcoke,Carbón
3,NaN,NaN,[ton],[ton],[ton],[ton],[ton],[ton],[ton]
4,Stock inicial,Informado,59683,13387.6,73191.1,54009.6,48810.1,13476.9,95477
5,Ingresos,Informado,129928,0,40164.6,64149.2,51373.8,0,20663.1
6,Consumo,Informado,68623.7,0,43388.3,33451.8,16171.8,7544.34,4945
7,Mermas,Informado,359.8,0,540.292,0,0,0,472.146
8,Ventas/Compras,Informado,0,0,0,0,0,0,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Stock final,Informado,120627,13387.6,69427,84707,84012.2,5932.52,110723
11,NaN,Calculado,127585,13387,69469.8,83883.8,82154.4,5872.62,110236
12,NaN,Dif. Inf./Calc.,-6958.18,0.62325,-42.7074,823.256,1857.74,59.8996,487.296
13,NaN,[%],-5.76834,0.00465542,-0.0615141,0.971886,2.21128,1.00968,0.440104

In [53]:
        listLines = []
        data={}
        columns=['Empresa','Tipo_combustible','Stock_inicial','Stock_final','Mermas','fecha']
        df2 = pd.DataFrame(data=data, columns=columns)
        
        
        df = df.rename(columns={'Control Stock Informado MES DE': 'col'})
        df = df.rename(columns={'JUNIO': 'Electroandina1'})
        df = df.rename(columns={'Unnamed: 3': 'Electroandina2'})
        df = df.rename(columns={'Unnamed: 4': 'Eldenor1'})
        df = df.rename(columns={'Unnamed: 5': 'Eldenor2'})
        df = df.rename(columns={'Unnamed: 6': 'Norgener1'})
        df = df.rename(columns={'Unnamed: 7': 'Norgener2'})
        df = df.rename(columns={'Unnamed: 8': 'Celta'})
        
        a=df.index[df['col']== 'Stock inicial'].tolist()
        b=df.index[df['col']== 'Stock final'].tolist()
        c=df.index[df['col']== 'Mermas'].tolist()

In [75]:
      
        df = pd.read_excel('D:/Users/ldavid/Documents/Stock Combustible/Pendrives con data stock/Control de Stock/2004'+"/"+'resumen control stock 2004.xls',sheet_name='diciembre')   
    
        listLines = []
        data={}
        columns=['Empresa','Tipo_combustible','Stock_inicial','Stock_final','Mermas','fecha']
        df2 = pd.DataFrame(data=data, columns=columns)
        
        
        df = df.rename(columns={'Control Stock Informado MES DE': 'col'})
        df = df.rename(columns={'DICIEMBRE': 'Electroandina1'})
        df = df.rename(columns={'Unnamed: 3': 'Electroandina2'})
        df = df.rename(columns={'Unnamed: 4': 'Eldenor1'})
        df = df.rename(columns={'Unnamed: 5': 'Eldenor2'})
        df = df.rename(columns={'Unnamed: 6': 'Norgener1'})
        df = df.rename(columns={'Unnamed: 7': 'Norgener2'})
        df = df.rename(columns={'Unnamed: 8': 'Celta'})
        
        a=df.index[df['col']== 'Stock inicial'].tolist()
        b=df.index[df['col']== 'Stock final'].tolist()
        c=df.index[df['col']== 'Mermas'].tolist()

            #Electroandina carbón
        df3 = pd.DataFrame({'Stock_inicial':[df.Electroandina1[a[0]]],'Stock_final':[df.Electroandina1[b[0]]],'Tipo_combustible':[df.Electroandina1[a[0]-2]],'Mermas':[df.Electroandina1[c[0]]],'Empresa':[df.Electroandina1[a[0]-3]]})
        df2 = df2.append(df3)
        
            #Electroandina petcoke
        df3 = pd.DataFrame({'Stock_inicial':[df.Electroandina2[a[0]]],'Stock_final':[df.Electroandina2[b[0]]],'Tipo_combustible':[df.Electroandina2[a[0]-2]],'Mermas':[df.Electroandina2[c[0]]],'Empresa':[df.Electroandina1[a[0]-3]]})
        df2 = df2.append(df3)       
        
            #eldenor carbón
        df3 = pd.DataFrame({'Stock_inicial':[df.Eldenor1[a[0]]],'Stock_final':[df.Eldenor1[b[0]]],'Tipo_combustible':[df.Eldenor1[a[0]-2]],'Mermas':[df.Eldenor1[c[0]]],'Empresa':[df.Eldenor1[a[0]-3]]})
        df2 = df2.append(df3)  
        
            #eldenor petcoke
        df3 = pd.DataFrame({'Stock_inicial':[df.Eldenor2[a[0]]],'Stock_final':[df.Eldenor2[b[0]]],'Tipo_combustible':[df.Eldenor2[a[0]-2]],'Mermas':[df.Eldenor2[c[0]]],'Empresa':[df.Eldenor1[a[0]-3]]})
        df2 = df2.append(df3) 
        
            #norgener carbón
        df3 = pd.DataFrame({'Stock_inicial':[df.Norgener1[a[0]]],'Stock_final':[df.Norgener1[b[0]]],'Tipo_combustible':[df.Norgener1[a[0]-2]],'Mermas':[df.Norgener1[c[0]]],'Empresa':[df.Norgener1[a[0]-3]]})
        df2 = df2.append(df3)     
        
            #Norgener petcoke
        df3 = pd.DataFrame({'Stock_inicial':[df.Norgener2[a[0]]],'Stock_final':[df.Norgener2[b[0]]],'Tipo_combustible':[df.Norgener2[a[0]-2]],'Mermas':[df.Norgener2[c[0]]],'Empresa':[df.Norgener1[a[0]-3]]})
        df2 = df2.append(df3)   
        
            #celta carbón
        df3 = pd.DataFrame({'Stock_inicial':[df.Celta[a[0]]],'Stock_final':[df.Celta[b[0]]],'Tipo_combustible':[df.Celta[a[0]-2]],'Mermas':[df.Celta[c[0]]],'Empresa':[df.Celta[a[0]-3]]})
        df2 = df2.append(df3)       
        
        
        df2['fecha']='01-12-2004'
        
        listLines.append(df2)
        output = pd.concat(listLines)
        output_path = "Stock combustible 2004 diciembre.csv"
        pandas2tsv(output,output_path)

In [65]:
df.Norgener1[a[0]]

AttributeError: 'DataFrame' object has no attribute 'Norgener1'

In [55]:
a

[4]