In [1]:
from os import listdir
from os.path import isfile, join, exists
import pandas as pd
import io
import numpy as np
import re
import xlrd

In [307]:
def pandas2tsv(df,path):
    base_path = "D:/Users/ldavid/Documents/Stock Combustible"
    sep = ','
    index = False
    header = True
    encoding = 'utf-8-sig'
    df.to_csv(base_path+path,
              index=index,
              sep=sep,
              header=header,
              encoding=encoding
              )

In [310]:
#Pestaña tabla N°1

df = pd.read_excel(('Resumen anual contro de Stock2008.xls'), sheet_name="Tabla N°1", skiprows=2)


df = df.rename(columns={'Unnamed: 1': 'col'})
df = df.rename(columns={'Unnamed: 4': 'Edelnor'})
df = df.rename(columns={'Unnamed: 2': 'pal'})
df = df.rename(columns={'Unnamed: 6': 'Norgener'})
df = df.rename(columns={'Unnamed: 8': 'Celta'})

a=df.index[df['col'] == 'Stock inicial'].tolist()
b=df.index[df['col'] == 'Mermas'].tolist()


data={}
columns=['Empresa','Tipo_combustible','Stock_inicial','Mermas','fecha']
df2 = pd.DataFrame(data=data, columns=columns)
for i in range(len(a)-1):
    
    #Electroandina
    df3 = pd.DataFrame({'Stock_inicial':[df.pal[a[i]]],'Tipo_combustible':[df.pal[a[i]-2]],'fecha':[df.col[a[i]-2]],'Mermas':df.pal[b[i]],'Empresa':[df.pal[a[0]-3]]})

    df2 = df2.append(df3)
    
    #Edelnor
for i in range(len(a)-1):
    
    df3 = pd.DataFrame({'Stock_inicial':[df.Edelnor[a[i]]],'Tipo_combustible':[df.Edelnor[a[i]-2]],'fecha':[df.col[a[i]-2]],'Mermas':df.Edelnor[b[i]],'Empresa':[df.Edelnor[a[0]-3]]})
    df2 = df2.append(df3)
    
    #Norgener
for i in range(len(a)-1):
    
    df3 = pd.DataFrame({'Stock_inicial':[df.Norgener[a[i]]],'Tipo_combustible':[df.Norgener[a[i]-2]],'fecha':[df.col[a[i]-2]],'Mermas':df.Norgener[b[i]],'Empresa':[df.Norgener[a[0]-3]]})
    df2 = df2.append(df3)    
    
    #Celta
for i in range(len(a)-1):
    
    df3 = pd.DataFrame({'Stock_inicial':[df.Celta[a[i]]],'Tipo_combustible':[df.Celta[a[i]-2]],'fecha':[df.col[a[i]-2]],'Mermas':df.Celta[b[i]],'Empresa':[df.Celta[a[0]-3]]})
    df2 = df2.append(df3) 


#df = df1
#df11 = df3
#df2 = df22

In [311]:
#Pestaña tabla N°2

df1 = pd.read_excel(('Resumen anual contro de Stock2008.xls'), sheet_name="Tabla N°2", skiprows=2)
df1 = df1.rename(columns={'Unnamed: 1': 'col'})
df1 = df1.rename(columns={'Unnamed: 3': 'pal'})
df1 = df1.rename(columns={'Unnamed: 5': 'Edelnor'})
df1 = df1.rename(columns={'Unnamed: 7': 'Norgener'})
df1 = df1.rename(columns={'Unnamed: 9': 'Celta'})

c=df1.index[df1['col'] == 'Stock final'].tolist()

data={}
columns=['Empresa','Tipo_combustible','Stock_final','fecha']
df22 = pd.DataFrame(data=data, columns=columns)

    #Electroandina
for i in range(len(c)-1):
        
    df11 = pd.DataFrame({'Stock_final':df1.pal[c[i]+1],'Tipo_combustible':[df1.pal[c[i]-2]],'fecha':[df1.col[c[i]-2]],'Empresa':[df1.pal[c[0]-3]]})

    df22 = df22.append(df11)
    
     #Edelnor
for i in range(len(c)-1):
        
    df11 = pd.DataFrame({'Stock_final':df1.Edelnor[c[i]+1],'Tipo_combustible':[df1.Edelnor[c[i]-2]],'fecha':[df1.col[c[i]-2]],'Empresa':[df1.Edelnor[c[0]-3]]})

    df22 = df22.append(df11)
    
    #Norgener
for i in range(len(c)-1):
        
    df11 = pd.DataFrame({'Stock_final':df1.Norgener[c[i]+1],'Tipo_combustible':[df1.Norgener[c[i]-2]],'fecha':[df1.col[c[i]-2]],'Empresa':[df1.Norgener[c[0]-3]]})

    df22 = df22.append(df11)    
  
    #Celta
for i in range(len(c)-1):
        
    df11 = pd.DataFrame({'Stock_final':df1.Celta[c[i]+1],'Tipo_combustible':[df1.Celta[c[i]-2]],'fecha':[df1.col[c[i]-2]],'Empresa':[df1.Celta[c[0]-3]]})

    df22 = df22.append(df11)

In [312]:
result = pd.concat([df2, df22], axis=1, join='inner')
result=result.T.drop_duplicates().T

In [313]:
result

,Empresa,Mermas,Stock_inicial,Tipo_combustible,fecha,Stock_final
0,Electroandina,1055.17,109896,Carbón,2008-01-01 00:00:00,70982.3
0,Electroandina,1545.52,77846.4,Carbón,2008-02-01 00:00:00,173723
0,Electroandina,777.086,179245,Carbón,2008-03-07 00:00:00,227156
0,Electroandina,93.2447,232495,Carbón,2008-04-06 00:00:00,264162
0,Electroandina,162.357,270910,Carbón,2008-05-06 00:00:00,211958
0,Electroandina,0,220154,Carbón,2008-06-05 00:00:00,217024
0,Electroandina,3159.83,228211,Carbón,2008-07-05 00:00:00,225498
0,Electroandina,81.2058,224474,Carbón,2008-08-04 00:00:00,253594
0,Electroandina,983.202,250700,Carbón,2008-09-03 00:00:00,220872
0,Electroandina,2522.16,237560,Carbón,2008-10-03 00:00:00,226563
0,Electroandina,2271.65,224583,Carbón,2008-11-02 00:00:00,144973
0,Electroandina,3402.44,142590,Carbón,2008-12-02 00:00:00,128744
0,Electroandina,NaN,NaN,Carbón,2009-01-06 00:00:00,NaN
0,Electroandina,NaN,NaN,Carbón,2009-02-05 00:00:00,NaN
0,Edelnor,0,84606.7,Carbón,2008-01-01 00:00:00,96302.4
0,Edelnor,230.157,98061.3,Carbón,2008-02-01 00:00:00,140013
0,Edelnor,0,141572,Carbón,2008-03-07 00:00:00,82479.9
0,Edelnor,219.887,87051.5,Carbón,2008-04-06 00:00:00,67141.6
0,Edelnor,704.287,69953.5,Carbón,2008-05-06 00:00:00,77487.7
0,Edelnor,257.899,76377.8,Carbón,2008-06-05 00:00:00,121429
0,Edelnor,1941.77,120856,Carbón,2008-07-05 00:00:00,105668
0,Edelnor,787.087,101392,Carbón,2008-08-04 00:00:00,89546.2
0,Edelnor,0,87048.7,Carbón,2008-09-03 00:00:00,150489
0,Edelnor,1094.79,143593,Carbón,2008-10-03 00:00:00,77693.6
0,Edelnor,2752.74,70281.1,Carbón,2008-11-02 00:00:00,66956
0,Edelnor,863.226,56410.7,Carbón,2008-12-02 00:00:00,45442.8
0,Edelnor,NaN,NaN,Carbón,2009-01-06 00:00:00,NaN
0,Edelnor,NaN,NaN,Carbón,2009-02-05 00:00:00,NaN
0,Norgener,0,30425.9,Carbón,2008-01-01 00:00:00,72140.9
0,Norgener,1793.55,74019.8,Carbón,2008-02-01 00:00:00,96457
0,Norgener,1431.93,98000.6,Carbón,2008-03-07 00:00:00,22532.7
0,Norgener,1191.03,23944.2,Carbón,2008-04-06 00:00:00,48005.2
0,Norgener,441.438,49923.9,Carbón,2008-05-06 00:00:00,68208.7
0,Norgener,1193.51,70673,Carbón,2008-06-05 00:00:00,136248
0,Norgener,715.922,137136,Carbón,2008-07-05 00:00:00,66274.6
0,Norgener,834.75,62216.6,Carbón,2008-08-04 00:00:00,100070
0,Norgener,2154.79,99372.1,Carbón,2008-09-03 00:00:00,140444
0,Norgener,875.848,133397,Carbón,2008-10-03 00:00:00,63948.7
0,Norgener,1266.25,59403.7,Carbón,2008-11-02 00:00:00,81609.3
0,Norgener,682.396,77607.7,Carbón,2008-12-02 00:00:00,68028.7
0,Norgener,NaN,NaN,Carbón,2009-01-06 00:00:00,NaN
0,Norgener,NaN,NaN,Carbón,2009-02-05 00:00:00,NaN
0,Celta,0,91598.4,Carbón,2008-01-01 00:00:00,96392.6
0,Celta,0,100911,Carbón,2008-02-01 00:00:00,59171
0,Celta,0,61472,Carbón,2008-03-07 00:00:00,77165.1
0,Celta,2023.11,80365.1,Carbón,2008-04-06 00:00:00,71289.8
0,Celta,0,73895.2,Carbón,2008-05-06 00:00:00,30355.6
0,Celta,0,32566.5,Carbón,2008-06-05 00:00:00,82260.1
0,Celta,994.282,87748.9,Carbón,2008-07-05 00:00:00,45713.7
0,Celta,496.102,47562.3,Carbón,2008-08-04 00:00:00,54132.4
0,Celta,901.641,55399.3,Carbón,2008-09-03 00:00:00,63934.6
0,Celta,644.288,65442.2,Carbón,2008-10-03 00:00:00,24946.1
0,Celta,0,25661.8,Carbón,2008-11-02 00:00:00,66938.2
0,Celta,0,66929.2,Carbón,2008-12-02 00:00:00,66929.2
0,Celta,NaN,NaN,Carbón,2009-01-06 00:00:00,NaN
0,Celta,NaN,NaN,Carbón,2009-02-05 00:00:00,NaN

In [314]:
listLines=[result]
output = pd.concat(listLines)
output_path = 'Stock combustible 2008.csv'
pandas2tsv(output,output_path)